<footer class="footer footer-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="sub">
                    © Copyright 2018 Uniprocure - All Rights Reserved
                </p>
            </div>

            <div class="col-sm-4 text-center">

            </div>

            <div class="col-sm-4 text-right">
                <a href="#">
                    <img alt="Logo" src="img/logo-dark.png">
                </a>
            </div>
        </div>
    </div>
</footer>