<!DOCTYPE html>
<html>
<head>
    <title>Uniprocure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png?v5" type="image/x-icon">
    <% include partials/head.ejs %>
    <link href="css/spacing.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/uniprocure.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>

<% include partials/nav.ejs %>
<div class="main-container">

    <!--HOME --->
    <a id="home" class="in-page-link"></a>
    <section class="header header-6 bg-light">
        <div class="row">
            <div class="col-md-6">
                <div class="bgnns"></div>
                <!--<div class="bgimg" style="background-image: url('img/uniprocure2.jpg');"></div>-->
            </div>
            <div class="col-md-6">
                <div class="header-container">
                    <h3>Procure to Pay Platform for NHS</h3>
                    <p>Inventory, Catalogue & Contract Management with Purchase Order Workflows,
                        Good Receipting & Invoice Processing in a single unified cloud platform
                    <p>

                        <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly."
                              data-error="Please fill all fields correctly.">
                            <h6>FREE NO OBLIGATION DEMO - ENQUIRE NOW</h6>
                            <input type="text" name="name" class="signup-name-field validate-required"
                                   placeholder="Your Name">
                            <input type="text" name="email" class="validate-required validate-email signup-email-field"
                                   placeholder="Email Address">
                            <input type="submit" value="Arrange a Demo »">
                    <p class="sub">
                        * We don’t share your personal info with anyone. Check out<br> our <a href="privacy.html">
                            Privacy Policy</a> for more information.
                    </p>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <!--MODULES --->
    <a id="modules" class="in-page-link"></a>
    <section class="section-modules features features-3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h3>Uniprocure Modules</h3>
                    <p>All of our modules are plug and play. You choose and pay only for the modules you need to
                        optimize your
                        Procurement process.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12 text-center feature">
                    <i class="icon-dashboard-speed-streamline"></i>
                    <h5>Inventory Management</h5>
                    <p>
                        Real time stock level tracking and optimization across all your locations and stores.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 text-center feature">
                    <i class="icon-file-text"></i>
                    <h5>Contract Management</h5>
                    <p>
                        Manage and negotiate purchase contracts and relationships with all your suppliers.
                        Get alerts for critical renewal dates.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 text-center feature">
                    <i class="icon-photo-pictures-streamline"></i>
                    <h5>Catalogue Management</h5>
                    <p>
                        Easy to use catalogue management interface for all your suppliers at no additional cost to the
                        supplier.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 text-center feature">
                    <i class="icon-caddie-shop-shopping-streamline"></i>
                    <h5>Purchase Order Workflows</h5>
                    <p>
                        Automatic purchase order creation with direct orders to suppliers or cost centre approval
                        workflows.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 text-center feature">
                    <i class="icon-caddie-shopping-streamline"></i>
                    <h5>Goods Receipting</h5>
                    <p>
                        Real time receipting of goods arriving at your trusts warehouse with automatic matching to the
                        PO request
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 text-center feature">
                    <i class="icon-email-mail-streamline"></i>
                    <h5>Invoice Management</h5>
                    <p>
                        Robust 3-way invoice matching before initiating payment workflows within your trusts ERP system
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- eProcurement --->
    <a id="eProcurement" class="in-page-link"></a>
    <section class="section-features features features-2 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h4>Realizing the NHS eProcurement Strategy</h4>
                    <p>Uniprocure has been purpose built upon our years of experience on how procurement in NHS
                        works and draws keen inspiration from the NHS eProcurement Strategy</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center feature">
                    <img alt="Feature Image" src="img/uniprocure14.png">
                    <h5>From Procure To Pay</h5>
                    <p>
                        The current IT landscape at most trusts means procurement teams have their processes spread
                        across multiple tools
                        and ERP platforms, making it very hard for teams to understand and optimize the inefficiencies
                        in
                        their sourcing and inventory operations.
                        Uniprocure offers true end-to-end procure to pay experience in a
                        single unified platform. Each of our modules seamlessly inter-connects and co-operates to give
                        you real
                        time insights and analytics across all your operational processes.
                    </p>
                </div>

                <div class="col-sm-6 text-center feature">
                    <img alt="Feature Image" src="img/uniprocure13.png">
                    <h5>GS1 & PEPPOL Compliance</h5>
                    <p>
                        Trusts are currently struggling and spending a lot of precious time and money to update their
                        outdated Inventory management processes & ERP platforms to comply with the GS1 & PEOPPOL
                        standards
                        prescribed
                        as part of the NHS eProcurement strategy.
                        With Uniprocure, you get GS1 and PEPPOL compliance
                        from the start. All our modules support GS1 product and
                        location coding and PEPPOL based data exchange out
                        of the box.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- FEATURES --->
    <a id="features" class="in-page-link"></a>
    <section class="section-features features features-2">
        <div class="container">
            <div class="row u-mb-xlarge">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h4>Other Key Features</h4>
                </div>
            </div>
            <div class="row v-align-children">
                <div class="col-sm-6 text-center feature">
                    <img alt="Feature Image" src="img/uniprocure9.png">
                </div>

                <div class="col-sm-6 col-md-5 col-md-offset-1 feature text-sm-center">
                    <h4>Analytics Powered Core</h4>
                    <p>
                        Uniprocure is built on top of a robust real-time data analytics core. The analytics core gathers
                        inputs and insights from all of our modules and uses intelligent algorithms to give you insights
                        into your current operations and suggestions to optimize the inefficiences.
                        This brings you abilities to obtain real time or periodic Spend Analysis, Price Benchmarking,
                        Spend Recovery & Category Intelligence metrics
                    </p>
                </div>
            </div>
            <div class="row v-align-children">

                <div class="col-sm-12 col-md-push-6 col-md-6  text-right text-sm-center feature">
                    <img alt="Feature Image" src="img/uniprocure10.png">
                </div>

                <div class="col-sm-12 col-md-pull-6 col-md-6 feature text-right text-sm-center">
                    <h4>Multi Trust Co-Operation</h4>
                    <p>
                        The platform gives you the ability to share as little or as much of your data with other trusted
                        trusts.
                        This along with strong analytics and price benchmarks gives you the power to create more
                        powerful category
                        strategies and negotiate better contracts with suppliers for your trust or as an alliance.
                    </p>
                </div>


            </div>
            <div class="row v-align-children">
                <div class="col-sm-6 text-center feature">
                    <img alt="Feature Image" src="img/uniprocure11.png">
                </div>

                <div class="col-sm-6 col-md-5 col-md-offset-1 feature text-sm-center">
                    <h4>ERP Integration</h4>
                    <p>
                        We understand the critical part your ERP platform plays across all the teams within your trust.
                        Our approach is to work in close integration to your preferred ERP platform instead of replacing
                        it.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!--- IMPLEMENTATION --->
    <a id="implementation" class="in-page-link"></a>
    <section class="section-impl features bg-light">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-12 col-md-5 text-center feature">
                    <img alt="Feature Image" src="img/uniprocure15.png">
                </div>

                <div class="col-sm-12 col-md-7 col-md-offset-1 feature u-mt-large">
                    <h4>Complete Implementation Support</h4>
                    <p>
                        We work closely with you to understand your current processes and suggest optimizations that
                        help
                        you extract
                        efficiencies and spend savings by implementing the Uniprocure platform </p>
                </div>
            </div>
        </div>
    </section>


    <!--- CONTACT US --->
    <a id="signup" class="in-page-link"></a>
    <section class="cta cta-7">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="img/uniprocure1.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-white">Contact Us Now</h2>
                    <h5 class="text-white">Take Your Procurement Organization to Next Level</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly."
                          data-error="Please fill all fields correctly.">
                        <h6 class="text-white">FREE NO OBLIGATION DEMO</h6>
                        <input type="text" name="name" class="signup-name-field validate-required"
                               placeholder="Your Name">
                        <input type="text" name="email" class="validate-required validate-email signup-email-field"
                               placeholder="Email Address">
                        <input type="submit" value="Submit »">
                        <p class="sub">
                            * We don’t share your personal info with anyone. Check out our <a href="privacy.html">
                                Privacy Policy</a> for more information.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="features features-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>That's not all there is</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-browser-streamline-window"></i>
                    <h5>Intuitive page builder</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-arrow-streamline-target"></i>
                    <h5>Built for conversions</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-book-dowload-streamline"></i>
                    <h5>Thorough documentation</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-bubble-love-streamline-talk"></i>
                    <h5>Elite author item</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-design-pencil-rule-streamline"></i>
                    <h5>Flexible design</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-frame-picture-streamline"></i>
                    <h5>Unique elements</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-map-streamline-user"></i>
                    <h5>Support forum access</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-paint-bucket-streamline"></i>
                    <h5>Simple customization</h5>
                </div>

            </div>
        </div>
    </section>
    -->
    <!--
    <section class="features features-12">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h4>Implementation Support</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-sm-5 col-sm-offset-1 feature col-md-4">
                    <img alt="Feature Image" src="img/cater2.jpg">
                    <h5>Gourmet, Seasonal Fare</h5>
                    <p>
                        Our team of distinguished gourmands craft a tailor-made menu to meet your party needs. Our
                        flexible menus cater for all dietary requirements.</p>
                </div>

                <div class="col-sm-5 feature col-md-4">
                    <img alt="Feature Image" src="img/cater3.jpg">
                    <h5>Decor &amp; Presentation</h5>
                    <p>
                        With contemporary, hand-crafted decor and embellishments, we transform your party space to
                        create an atmosphere of sophistication.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="features features-4 bg-secondary">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-6 text-center feature">
                    <img alt="Feature Image" src="img/cater4.jpg">
                </div>

                <div class="col-sm-6 col-md-5 col-md-offset-1 feature">
                    <h4>Only the finest,<br> locally sourced produce.</h4>
                    <p>
                        All fresh ingredients in our dishes are sourced from local farms and farmer's markets. Making
                        use of only fresh, seasonally available produce infuses the dishes we prepare with a unique
                        authenticity.<br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="features features-5 bg-secondary">
        <div class="container">
            <div class="row v-align-children">

                <div class="col-sm-6 col-md-5 feature text-right">
                    <h4>Professional wedding<br> catering for your big day.</h4>
                    <p>
                        We know how important the fine details are when it comes to your special day. Food and catering
                        can make or break the wedding experience for you and your guests. Entrust our experienced team
                        with your wedding day catering.</p>
                </div>

                <div class="col-sm-6 col-md-offset-1 text-center feature">
                    <img alt="Feature Image" src="img/cater5.jpg">
                </div>

            </div>
        </div>
    </section>
    <section class="features features-15">
        <div class="row">
            <div class="col-sm-4 text-center feature">
                <i class="icon-chef-food-restaurant-streamline"></i>
                <h5 class="text-white">Melbourne's finest chefs</h5>
                <p class="text-white">
                    Our team of highly-trained chefs are dedicated to<br>crafting innovative dining experiences. The
                    feedback<br>from our customers speaks for itself.</p>
            </div>

            <div class="col-sm-4 text-center feature">
                <i class="icon-eat-food-fork-knife-streamline"></i>
                <h5 class="text-white">Prepared fresh, on site</h5>
                <p class="text-white">
                    Rest assured that your guest's meal has not<br>been sitting in traffic on the way to dinner. All our<br>dishes
                    are prepared at the time of serving.&nbsp;</p>
            </div>

            <div class="col-sm-4 text-center feature">
                <i class="icon-cocktail-mojito-streamline"></i>
                <h5 class="text-white">Cocktail flair for your affair</h5>
                <p class="text-white">
                    Our creative mixologists bring fresh,<br>fun and fitting drink mixes to your table.<br>Anyone for
                    Gin Mickeys?</p>
            </div>
        </div>
    </section>
    <a id="pricing" class="in-page-link"></a>
    <section class="pricing pricing-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Take out the hassle.</h3>
                </div>
            </div>

            <div class="row">
                <a href="#">
                    <div class="col-sm-4 text-center pricing-option">
                        <h6>two course</h6>
                        <div class="price-container">
                            <span class="dollar">$</span>
                            <span class="price">59</span>
                            <span class="terms">/ea</span>
                        </div>
                        <h5>Great for lunches</h5>
                        <ul>
                            <li>Complimentary glass of wine</li>
                            <li>Choice of entree or dessert</li>
                            <li>1:20 Wait Staff</li>
                        </ul>
                    </div>
                </a>

                <a href="#">
                    <div class="col-sm-4 text-center pricing-option active">
                        <h6>three course / wedding</h6>
                        <div class="price-container">
                            <span class="dollar">$</span>
                            <span class="price">89</span>
                            <span class="terms">/ea</span>
                        </div>
                        <h5>Ideal for dinner guests</h5>
                        <ul>
                            <li>Complimentary Champagne</li>
                            <li>Bar service on-site</li>
                            <li>1:8 Wait Staff</li>
                        </ul>
                    </div>
                </a>

                <a href="#">
                    <div class="col-sm-4 text-center pricing-option">
                        <h6>degustation</h6>
                        <div class="price-container">
                            <span class="dollar">$</span>
                            <span class="price">129</span>
                            <span class="terms">/ea</span>
                        </div>
                        <h5>Suits large groups</h5>
                        <ul>
                            <li>Complimentary cocktail</li>
                            <li>Mixologist on-site</li>
                            <li>1:4 Wait Staff</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>Need additional pricing info? <a href="#">Get in touch</a> for custom and corporate pricing.</p>
                </div>
            </div>
        </div>
    </section>
    -->
    <% include partials/footer.ejs %>
</div>

<% include partials/scripts.ejs %>

</body>
</html>
